<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>-Agregar Dueñx-</h1>
    
    {% if  miFormularioPersona.errors %}

    <p style="color: red;"> Los datos no coinciden, volve a intentar!</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

       
        <table>

            {{  miFormularioPersona.as_table }}


        </table>


        <input type="submit", value="Enviar">

    </form>
  

</body>
</html>