<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de los Dueños</h1>
    
    
    <ul>
        {% for persona in object_list %}
            <li>
                <p>Nombre:{{persona.nombre}}</p>
                <p>
                    <a href="{% url 'Detail' persona.id %}">Detalles </a>
                    <a href="{% url 'Edit' persona.id %}">Editar</a>
                    <a href="{% url 'Delete' persona.id %}">Borrar</a>
                </p>

            </li>
        
        {% endfor %}
    </ul>
    
<p>
    
    <a href="{% url 'New'  %}">Nuevo</a> 
    
</p>

</body>
</html>